@import "libs";
@import "fonts";
@import "vars";
@import "../libs/normalize-css/normalize";

html, body {
  position: relative;
  line-height: 1.7;
  font-family: 'Montserrat';
}
.h1, .h2, .h3, .h4, .h5, .h6{
  line-height: 1.4;
}
a, a:hover, a:focus{
  text-decoration: none;
}

input, select, button {
  outline:none;
}

p {
  margin: 0;
}

.main-wrapper{
  background-color: $red;
  width: 100%;
  height: 100%;
}

.container {
  width: 495px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 420px;
  position: relative;
  padding-top: 37px;
}

.wrapper-img {
  position: absolute;
  left: 90px;
}

.img {
  max-width: 100%;
}

.logo {

  &-bottom {
    position: absolute;
    top: 127px;
    left: -82px;

    .img {
      width: auto;
      max-width: inherit !important;
    }
  }
}

.prize {
  padding-top: 7px;

  &-text {
    margin: 0;
    margin-left: 15px;
    padding-top: 6px;
  }
}

.form {

  &-wrapper {
    margin-top: 18px;
  }

  &-send {
    padding: 0 15px;
    max-width: 465px;

    .file-phone {
      display: flex;
      position: relative;
      margin-bottom: 33px;
    }

    .prefix {
      height: 76px;
      width: 63px;
      margin-left: 15px;
      margin-right: 57px;
      padding-top: 12px;
    }

    .phone {
      height: 76px;
      width: 316px;
    }

    .code {
      width: calc(100% - 33px);
      margin-left: 14px;
      padding-bottom: 12px;
    }
  }

  &-submit {
    padding: 0;
    margin: 0;
    margin-left: 9px;
    border: none;
    background-color: transparent;
  }
}

.form-select {
  font-family: Futura;
  font-size: 28px;
  color: #000;
  width: 100%;
  max-height: 50px;
  overflow-y: auto;
  border: none;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;


  option {
    background: $yellow;
  }
}

.has-error {
  position: absolute;
  width: 100%;
  bottom: -15px;
  text-align: center;
  color: #fff;
  display: none;

  p {
    font-family: MyriadPro-Regular;
    font-size: 20px;
    height: 20px;
  }
}

.file-phone.error .has-error, .file-code.error .has-error {
  display: block;
}

.file-code {
  position: relative;
  margin-bottom: 25px;
}

.file-submit {
  display: flex;
  justify-content: center;
}

.form-input {
  background: transparent;
  border: none;
  font-family: Futura;
  font-size: 28px;
  color: #000;
}

.input-phone, .input-code {
  width: calc(100% - 70px);
  padding: 12px 5px 0 35px;
  height: 35px;
}

.input-code {
  padding: 8px 0 0 22px;
  width: calc(100% - 20px);
}

.view {
  height: 76px;
  position: relative;
  background: url('../img/3.png')repeat-x;
  background-position: 0 -5px;

  &:after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: 0;
    left: -32px;
    width: 34px;
    background: url(../img/left.png) no-repeat;
  }

  &:before{
    content: '';
    position: absolute;
    top: -5px;
    bottom: 0;
    right: -29px;
    width: 29px;
    background: url(../img/right.png) no-repeat;
  }
}



.form-input::-webkit-input-placeholder {
  font-family: Futura;
  font-size: 28px;
  letter-spacing: -1.5px;
  color: #000;
}
.form-input::-moz-placeholder {
  color: #000;
}
.form-input:-moz-placeholder {
  color: #000;
}
.form-input::-ms-input-placehold {
  color: #000;
}

.input-code::-webkit-input-placeholder {
  font-family: MyriadPro-Regular;
  letter-spacing: -2px;
  font-size: 26px;
  word-spacing: 2px;
  text-align: justify;
}

.footer {
  &-wrapper {
    display: flex;
    justify-content: space-between;

  .t-c {
    margin-left: 15px;
    margin-top: -25px;
  }

  .open {
    margin-right: 23px;

    &-entry {
      font-family: MyriadPro-Regular;
      color: #fff;
      letter-spacing: -.8px;
      line-height: 23px;
      font-size: 16px;
    }
  }

  }
}

@import "media";
