<div id="my-page">
  <div class="preload"><div class="pulse"></div></div>
  <div id="my-header" class="mh-head Sticky">
    <header class="site-header" style="background: #000000 url(../../assets/img2/top-bg.jpg);">
      <div class="top-line">
        <a href="vers#" class="logo">
          <img src="../../assets/img2/logo-1.svg" alt="logo" class="logo-img">
        </a>
        <div class="phone hidden-xs">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          +7 (495) 922-77-73
        </div>
        <a href="#my-menu" class="hamburger hamburger--elastic">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </a>

        <nav id="my-menu">
          <ul class="menu" style="display: none">
            <li><a href="#">Парикмахерский сервис</a></li>
            <li class="active"><a href="#">Косметологический сервис</a></li>
            <li><a href="#">Маникюрный сервис</a></li>
            <li><a href="#">Массаж и SPA</a></li>
            <li><a href="#">Солярий</a></li>
            <li><a href="#">Наши специалисты</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Прайс-лист</a></li>
            <li><a href="#">Наши сертификаты</a></li>
            <li><a href="#">О салоне</a></li>
          </ul>
        </nav>
      </div>
      <div class="header header-flex">
        <div class="flex-center">
          <div class="container">
            <div class="row col-sm-7 col-xs-10">
              <div class="header-composition">
                <div class="welcome">
                  <p><span>Добро пожаловать в профессиональный</span></p>
                  <h1 class="h1">салон красоты</h1>
                  <strong>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    в Москве
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </strong>
                </div>
                <p class="description">S&Mitler - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                  architecto, aspernatur blanditiis dignissimos eligendi eum maxime nesciunt provident quam sint.
                </p>
                <a href="#" class="button">O салоне</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-social">
        <nav class="social">
          <ul>
            <li><a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-vk" aria-hidden="true"></i>
            </a></li>
          </ul>
        </nav>
      </div>
      <div class="header-contact">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
              г. Москва ул. Иришиной Бабушки д.5 кв.22
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="phone-h">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                +7 (495) 922-77-73
              </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              Время работы салона: 6-00 до 19-00
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div id="my-content">
    <section class="s-service">
      <div class="owl-carousel carousel-services">
        <div class="carousel-services-item">
          <div class="carousel-services-content">
            <div class="carousel-services-composition">
              <div class="carousel-logo">
                <img src="../../assets/img2/logo-2.svg" alt="">
              </div>
              <h3 class="h3">Космитологический сервис</h3>
              <ul class="carousel-services-list">
                <li>Ключевая услуга #1 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #2 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #3 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #3 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
              </ul>
              <a href="#" class="button button-white">Все услуги</a>
            </div>
          </div>
          <div class="carousel-services-image" style="background-image: url(../../assets/img2/service.png)"></div>
        </div>

        <div class="carousel-services-item">
          <div class="carousel-services-content">
            <div class="carousel-services-composition">
              <div class="carousel-logo">
                <img src="../../assets/img2/logo-2.svg" alt="">
              </div>
              <h3 class="h3">Парихмахерский сервис</h3>
              <ul class="carousel-services-list">
                <li>Ключевая услуга #1 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #2 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #3 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
              </ul>
              <a href="#" class="button button-white">Все услуги</a>
            </div>
          </div>
          <div class="carousel-services-image" style="background-image: url(../../assets/img2/service2.png)"></div>
        </div>

        <div class="carousel-services-item">
          <div class="carousel-services-content">
            <div class="carousel-services-composition">
              <div class="carousel-logo">
                <img src="../../assets/img2/logo-2.svg" alt="">
              </div>
              <h3 class="h3">Маникюрный сервис</h3>
              <ul class="carousel-services-list">
                <li>Ключевая услуга #1 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #2 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #3 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
              </ul>
              <a href="#" class="button button-white">Все услуги</a>
            </div>
          </div>
          <div class="carousel-services-image" style="background-image: url(../../assets/img2/service3.png)"></div>
        </div>

        <div class="carousel-services-item">
          <div class="carousel-services-content">
            <div class="carousel-services-composition">
              <div class="carousel-logo">
                <img src="../../assets/img2/logo-2.svg" alt="">
              </div>
              <h3 class="h3">Космитологический сервис</h3>
              <ul class="carousel-services-list">
                <li>Ключевая услуга #1 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #2 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
                <li>Ключевая услуга #3 - <strong>8500<i class="fa fa-rub" aria-hidden="true"></i></strong></li>
              </ul>
              <a href="#" class="button button-white">Все услуги</a>
            </div>
          </div>
          <div class="carousel-services-image" style="background-image: url(../../assets/img2/service.png)"></div>
        </div>
      </div>
    </section>

    <section class="s-king inverse section-overlay"
             style="background-image: url(../../assets/img2/photos/foto-16.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2 class="h2">Королевский салон</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque modi officia recusandae? Atque corporis,
              cupiditate ex ipsa laboriosam laudantium mollitia quos, similique suscipit vel voluptas!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque modi officia recusandae? Atque corporis,
              cupiditate ex ipsa laboriosam laudantium mollitia quos, similique suscipit vel voluptas!
            </p>
          </div>
          <div class="col-md-7">
            <div class="section-gallery fotorama"
                 data-nav="thumbs"
                 data-thumbwidth="110.5"
                 data-thumbheight="66"
                 data-thumbmargin="10"
                 data-thumbborderwidth="4"
                 data-thumbmargin="10"
                 data-width="100%"
            >
              <a href="../../assets/img2/photos/small/foto-13.jpg"><img src="../../assets/img2/photos/thomb/foto-13.jpg" alt="foto"></a>
              <a href="../../assets/img2/photos/small/foto-15.jpg"><img src="../../assets/img2/photos/thomb/foto-15.jpg" alt="foto"></a>
              <a href="../../assets/img2/photos/small/foto-16.jpg"><img src="../../assets/img2/photos/thomb/foto-16.jpg" alt="foto"></a>
              <a href="../../assets/img2/photos/small/foto-18.jpg"><img src="../../assets/img2/photos/thomb/foto-18.jpg" alt="foto"></a>
              <a href="../../assets/img2/photos/small/foto-19.jpg"><img src="../../assets/img2/photos/thomb/foto-19.jpg" alt="foto"></a>
              <a href="../../assets/img2/photos/small/foto-23.jpg"><img src="../../assets/img2/photos/thomb/foto-23.jpg" alt="foto"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-call inverse" style="background-image: url(../../assets/img2/madama.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
            <div class="callback">

              <div class="success">
                <span>Спасибо за заявку!</span>
              </div>
              <div class="callback-logo"><img src="../../assets/img2/logo-2.svg" alt="" class="logo"></div>
              <div class="form-head h2">
                Оставить заявку
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

              <input type="text" required placeholder="Your name ...">
              <input type="text" required placeholder="Your phone ...">
              <select name="ooo" class="callback-select">
                <option value="" disabled>Выбирите услугу ...</option>
                <option>Lorem ipsum dolor.</option>
                <option>Lorem ipsum 1.</option>
                <option>Lorem ipsum 2.</option>
                <option>Lorem ipsum 3.</option>
                <option>Lorem ipsum 4.</option>
              </select>
              <button class="button button-white form-button">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s-review inverse section-overlay" style="background-image: url(../../assets/img2/bg-2.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h2 text-center h-first">
              <span class="one-word">Отзывы</span> наших клиентов
            </h2>
            <div class="col-sm-8 col-sm-offset-2">
              <div class="quotes"></div>
              <div class="owl-carousel review-carousel">
                <div class="review">
                  <div class="review-header">Оксана</div>
                  <div class="review-date">29.06.16(Стрижка)</div>
                  <div class="review-starts">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="review-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem libero qui quidem reiciendis
                    voluptates? Adipisci aliquam deleniti dolorum eaque, error facilis harum incidunt quaerat quam
                    reiciendis rerum sequi, suscipit voluptatum!

                    Aliquam aliquid, consectetur debitis deleniti dicta dolorem ex harum in incidunt ipsa iure
                    laudantium maiores maxime nobis obcaecati omnis pariatur quaerat, quia, reprehenderit sint totam
                    unde vel voluptatem! Id, natus?

                    At blanditiis cum dignissimos ea facilis inventore odit pariatur. Accusantium, aliquam amet at
                    consectetur corporis dolorum ea eveniet fugit ipsum labore minus obcaecati optio possimus
                    recusandae sequi similique unde ut.
                  </div>
                </div>


                <div class="review">
                  <div class="review-header">Александра</div>
                  <div class="review-date">29.06.16(Стрижка)</div>
                  <div class="review-starts">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="review-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem libero qui quidem reiciendis
                    voluptates? Adipisci aliquam deleniti dolorum eaque, error facilis harum incidunt quaerat quam
                    reiciendis rerum sequi, suscipit voluptatum!
                  </div>
                </div>
                <div class="review">
                  <div class="review-header">Татьяна</div>
                  <div class="review-date">29.06.16(Стрижка)</div>
                  <div class="review-starts">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="review-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem libero qui quidem reiciendis
                    voluptates? Adipisci aliquam deleniti dolorum eaque, error facilis harum incidunt quaerat quam
                    reiciendis rerum sequi, suscipit voluptatum!
                    Aliquam aliquid, consectetur debitis deleniti dicta dolorem ex harum in incidunt ipsa iure
                    laudantium maiores maxime nobis obcaecati omnis pariatur quaerat, quia, reprehenderit sint totam
                    unde vel voluptatem! Id, natus?
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-partners section-overlay" style="background-image: url(../../assets/img2/bg-3.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="h2 text-center">
              Наши партнеры
            </h2>
            <div class="col-sm-10 col-sm-offset-1">
              <div class="owl-carousel partners">
                <div class="partner"><img src="../../assets/img2/partners/brend1.png" alt=""></div>
                <div class="partner"><img src="../../assets/img2/partners/brend2.png" alt=""></div>
                <div class="partner"><img src="../../assets/img2/partners/brend3.png" alt=""></div>
                <div class="partner"><img src="../../assets/img2/partners/brend4.png" alt=""></div>
                <div class="partner"><img src="../../assets/img2/partners/brend1.png" alt=""></div>
                <div class="partner"><img src="../../assets/img2/partners/brend2.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="my-footer">
    <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6"><div class="footer-column">
            <img src="../../assets/img2/logo-1.svg" alt="logo" class="logo-footer">
            <p>Салон красоты<br>бизнес класса в Москве</p>
            <div class="footer-social">
              <nav class="social">
                <ul>
                  <li><a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a></li>
                  <li><a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a></li>
                  <li><a href="#">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                  </a></li>
                </ul>
              </nav>
            </div>
          </div></div>
          <div class="col-lg-3 col-md-4 col-sm-6"><div class="footer-column">
            <nav class="footer-menu">
              <ul>
                <li class="active"><a href="#">Парикмахерский сервис</a></li>
                <li><a href="#">Косметологический сервис</a></li>
                <li><a href="#">Маникюрный сервис</a></li>
                <li><a href="#">Массаж и SPA</a></li>
                <li><a href="#">Солярий</a></li>
                <li><a href="#">Наши специалисты</a></li>
              </ul>
            </nav>
          </div></div>
          <div class="col-lg-3  col-md-4 col-sm-6"><div class="footer-column">
            <p class="footer-adr"><i class="fa fa-location-arrow" aria-hidden="true"></i>г. Моссква ул. Бабушкина д.5 офс.202</p>
            <p class="footer-adr"><i class="fa fa-clock-o"></i> Время работы: ежедневно: <br>10:00 - 22:00</p>
            <p class="footer-adr"><span class="footer-phone"><i class="fa fa-mobile"></i> +7 (495) 922-77-73</span></p>
          </div></div>
          <div class="col-lg-4 col-xs-12  col-md-12 col-sm-6"><div class="footer-column">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1891.5932953190015!2d37.56903510862687!3d55.68036038209209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54cc0522e8f21%3A0x55c65915949d2174!2z0YPQuy4g0JrRgNC20LjQttCw0L3QvtCy0YHQutC-0LPQviwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2sua!4v1506365156711" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div></div>
        </div>
      </div>
    </div>
  </div>
<div class="top" title="На верх">
  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</div>
</div>


